Repository DevExpress/testcafe: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

azure-pipelines.yml:

trigger:
  branches:
    exclude:
    - (testbot-only)*

  paths:
    include:
    - /bin
    - /src
    - /test
    - /azure-pipelines.yml
    - /Gulpfile.js
    - /package.json

pool: 'BrowserStack agents'

variables:
  RETRY_FAILED_TESTS: "true"

steps:
- task: NodeTool@0
  displayName: 'Install Node.js'
  timeoutInMinutes: 40
  inputs:
    versionSpec: '10.x'

- task: DeleteFiles@1
  inputs:
    Contents: node_modules

- bash: |
    npm install --no-progress --loglevel error
    npm test
  displayName: 'Run tests'
  timeoutInMinutes: 60

azure-pipelines/test-functional-headless.yml:

trigger:
  paths:
    include:
    - /azure-pipelines
    - /bin
    - /src
    - /test
    - /Gulpfile.js
    - /package.json

jobs:
- template: test-code-job-template.yml
  parameters:
    name: 'Tests'
    task: 'test-functional-local-ie'
    pool:
      vmImage: vs2017-win2016

fix: added disableScreenshots in RunOptions interface
  ts-defs-src/runner-api/runner-api.d.ts
Due: none

fix: switching to an iframe with the srcdoc attr (#6142)
  package.json
  test/functional/fixtures/api/es-next/iframe-switching/pages/index.html
  test/functional/fixtures/api/es-next/iframe-switching/test.js
  test/functional/fixtures/api/es-next/iframe-switching/testcafe-fixtures/iframe-switching-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

only
  Gulpfile.js
  test/functional/fixtures/regression/gh-3904/test.js
  test/functional/fixtures/regression/gh-3924/test.js
  test/functional/fixtures/regression/gh-4222/test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

fix: repair docker builds
  .github/workflows/deploy-to-artifacts.yml
  .github/workflows/test-client-desktop.yml
  .github/workflows/test-client-mobile.yml
  .github/workflows/test-functional-docker.yml
  .github/workflows/test-functional-local-chrome.yml
  .github/workflows/test-functional-local-compiler-service.yml
  .github/workflows/test-functional-local-firefox.yml
  .github/workflows/test-functional-local-ie.yml
  .github/workflows/test-functional-local-multiple-windows.yml
  .github/workflows/test-functional-remote-macos copy.yml
  .github/workflows/test-functional-remote-mobile.yml
  .github/workflows/test-server-docker.yml
  .github/workflows/test-server-lts.yml
  .github/workflows/test-server-stable.yml
Due: none

chore: add test tasks
  .github/workflows/test-client-mobile.yml
  .github/workflows/test-functional-docker.yml
  .github/workflows/test-functional-local-chrome.yml
  .github/workflows/test-functional-local-compiler-service.yml
  .github/workflows/test-functional-remote-macos copy.yml
  .github/workflows/test-functional-remote-mobile.yml
  .github/workflows/test-server-docker.yml
  .github/workflows/test-server-lts.yml
  .github/workflows/test-server-stable.yml
Due: none

fix: run tasks
  .github/workflows/deploy-to-artifacts.yml
  .github/workflows/request-deploy.yml
Due: none

fix: improve waiting for artifacts
  .github/workflows/test-client-mobile.yml
  .github/workflows/test-functional-docker.yml
  .github/workflows/test-functional-local-chrome.yml
  .github/workflows/test-functional-local-compiler-service.yml
  .github/workflows/test-functional-local-firefox.yml
  .github/workflows/test-functional-local-ie.yml
  .github/workflows/test-functional-local-multiple-windows.yml
  .github/workflows/test-functional-remote-macos copy.yml
  .github/workflows/test-functional-remote-mobile.yml
  .github/workflows/test-server-docker.yml
  .github/workflows/test-server-lts.yml
  .github/workflows/test-server-stable.yml
Due: none

ci: improve waiting for artifacts
  .github/workflows/test-client-desktop.yml
Due: none

ci: Implement Github Actions
  .github/workflows/deploy-to-artifacts.yml
  .github/workflows/request-deploy.yml
  .github/workflows/test-client-desktop.yml
  .github/workflows/test-docs.yml
  .github/workflows/test-functional-local-firefox.yml
  .github/workflows/test-functional-local-ie.yml
  .github/workflows/test-functional-local-multiple-windows.yml
  .github/workflows/test-functional-remote-macos.yml
  .github/workflows/test-server.yml
Due: none

ci: enable all tasks
  .github/workflows/deploy-to-artifacts.yml
  .github/workflows/test-functional-docker.yml
  .github/workflows/test-functional-local-ie.yml
  .github/workflows/test-functional-remote-macos copy.yml
  .github/workflows/test-functional-remote-mobile.yml
  .github/workflows/test-server-docker.yml
  .github/workflows/test-server-lts.yml
  .github/workflows/test-server-stable.yml
Due: none

ci: add timeouts, fix problematic builds
  .github/workflows/test-client-desktop.yml
  .github/workflows/test-client-mobile.yml
  .github/workflows/test-functional-docker.yml
  .github/workflows/test-functional-local-chrome.yml
  .github/workflows/test-functional-local-compiler-service.yml
  .github/workflows/test-functional-local-firefox.yml
  .github/workflows/test-functional-local-ie.yml
  .github/workflows/test-functional-local-multiple-windows.yml
  .github/workflows/test-functional-remote-macos.yml
  .github/workflows/test-functional-remote-mobile.yml
  .github/workflows/test-server-docker.yml
  .github/workflows/test-server-lts.yml
  .github/workflows/test-server-stable.yml
Due: none

fix TestCafe hangs during TestCafe Studio tests (closes #5207)
  src/runner/browser-job.ts
  test/functional/fixtures/regression/gh-5207/pages/index.html
  test/functional/fixtures/regression/gh-5207/test.js
  test/functional/fixtures/regression/gh-5207/testcafe-fixtures/index.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

use `createReporter` function
  test/functional/fixtures/regression/gh-5207/test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

ci: refactor tasks
  .github/workflows/test-client-desktop.yml
  .github/workflows/test-client-mobile.yml
  .github/workflows/test-functional-docker.yml
  .github/workflows/test-functional-local-chrome.yml
  .github/workflows/test-functional-local-compiler-service.yml
  .github/workflows/test-functional-local-firefox.yml
  .github/workflows/test-functional-local-ie.yml
  .github/workflows/test-functional-local-multiple-windows.yml
  .github/workflows/test-functional-remote-macos.yml
  .github/workflows/test-functional-remote-mobile.yml
  .github/workflows/test-server-docker.yml
  .github/workflows/test-server-lts.yml
  .github/workflows/test-server-stable.yml
  test/functional/config.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

ci: fix chrome task
  .github/workflows/test-functional-local-chrome.yml
Due: none

ci: fix lint
  test/functional/config.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

ci: optimize statuses in the deploy workflow
  .github/workflows/deploy-to-artifacts.yml
Due: none

ci: fix the deployment workflow
  .github/workflows/deploy-to-artifacts.yml
Due: none

ci: disable other providers, fix ie
  .github/workflows/test-functional-local-ie.yml
  .travis.yml
  appveyor.yml
  azure-pipelines.yml
Due: azure-pipelines.yml

request filter rule predicate (#6154)
  src/api/exportable-lib/index.js
  src/api/request-hooks/request-mock/create-request-mock.ts
  src/api/request-hooks/request-mock/index.ts
  src/notifications/information-message.ts
  src/notifications/warning-log.ts
  src/notifications/warning-message.ts
  src/services/compiler/host.ts
  src/services/compiler/protocol.ts
  src/services/compiler/service.ts
  src/services/serialization/test-structure.ts
  src/utils/render-template.ts
  test/functional/fixtures/api/es-next/request-hooks/pages/page2.html
  test/functional/fixtures/api/es-next/request-hooks/test.js
  test/functional/fixtures/api/es-next/request-hooks/testcafe-fixtures/request-logger/request-filter-rule-predicate.js
  test/functional/fixtures/compiler-service/test.js
  ts-defs-src/test-api/request-hook.d.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

fix: added disableScreenshots in RunOptions interface (#6166)
  ts-defs-src/runner-api/runner-api.d.ts
Due: none

ci: fix ie
  .github/workflows/test-functional-local-ie.yml
Due: none

ci: fix statuses in PRs
  .github/workflows/deploy-to-artifacts.yml
  .github/workflows/test-client-desktop.yml
  .github/workflows/test-client-mobile.yml
  .github/workflows/test-functional-docker.yml
  .github/workflows/test-functional-local-chrome.yml
  .github/workflows/test-functional-local-compiler-service.yml
  .github/workflows/test-functional-local-firefox.yml
  .github/workflows/test-functional-local-ie.yml
  .github/workflows/test-functional-local-multiple-windows.yml
  .github/workflows/test-functional-remote-macos.yml
  .github/workflows/test-functional-remote-mobile.yml
  .github/workflows/test-server-docker.yml
  .github/workflows/test-server-lts.yml
  .github/workflows/test-server-stable.yml
Due: none

ci: fix PR builds
  .github/workflows/request-deploy.yml
Due: none

Synchronous Selector API
  src/client-functions/client-function-builder.js
  src/client-functions/selector-api-execution-mode.ts
  src/client-functions/selectors/add-api.js
  src/client-functions/selectors/selector-builder.js
  src/services/compiler/host.ts
  src/services/compiler/protocol.ts
  src/services/compiler/service.ts
  src/services/compiler/test-run-proxy.ts
  src/utils/is-repl.ts
  test/functional/fixtures/compiler-service/test.js
  test/functional/fixtures/compiler-service/testcafe-fixtures/synchronous-selectors.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

refactoring
  src/client-functions/client-function-builder.js
  src/client-functions/selectors/selector-builder.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

fix TestCafe hangs during TestCafe Studio tests (closes #5207) (#6169)
  src/runner/browser-job.ts
  test/functional/fixtures/regression/gh-5207/pages/index.html
  test/functional/fixtures/regression/gh-5207/test.js
  test/functional/fixtures/regression/gh-5207/testcafe-fixtures/index.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

GH-3891 - Configure quarantineMode (#6073)
  src/cli/argument-parser.ts
  src/configuration/interfaces.ts
  src/configuration/quarantine-option-names.ts
  src/configuration/testcafe-configuration.ts
  src/configuration/types.ts
  src/errors/runtime/templates.js
  src/errors/types.js
  src/runner/test-run-controller.ts
  src/utils/get-options/index.ts
  src/utils/get-options/quarantine.ts
  test/functional/fixtures/quarantine/pages/index.html
  test/functional/fixtures/quarantine/test.js
  test/functional/fixtures/quarantine/testcafe-fixtures/quarantineScope.js
  test/functional/fixtures/quarantine/testcafe-fixtures/test-quarantine-mode.js
  test/server/cli-argument-parser-test.js
  ts-defs-src/runner-api/runner-api.d.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

fix deprecation warning
  src/services/compiler/host.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Synchronous Selector API (#6174)
  src/client-functions/client-function-builder.js
  src/client-functions/selector-api-execution-mode.ts
  src/client-functions/selectors/add-api.js
  src/client-functions/selectors/selector-builder.js
  src/services/compiler/host.ts
  src/services/compiler/protocol.ts
  src/services/compiler/service.ts
  src/services/compiler/test-run-proxy.ts
  src/utils/is-repl.ts
  test/functional/fixtures/compiler-service/test.js
  test/functional/fixtures/compiler-service/testcafe-fixtures/synchronous-selectors.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Bump version (v.1.15.0-alpha.1)
  .publishrc
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

test: fix deprecation warning (#6181)
  src/services/compiler/host.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

docs: update status badges
  README.md
Due: none

1
  src/utils/handle-errors.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Bump version (v.1.15.0-alpha.1) (#6183)
  .publishrc
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

2
  src/utils/handle-errors.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

3
  src/runner/browser-job.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

test
  test/functional/fixtures/regression/gh-3904/pages/index.html
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

decrease timeout
  test/functional/fixtures/regression/gh-3904/pages/index.html
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml
